{% include "partials/htmlhead.njk" %}

<div class="header_container">
  <header>
    <nav class="nav_top">
      <a href="/">
      <img class="logo" src="/images/structural/Logo_48.png" alt="Logo of the page showing the Hirschlbrummbaer">
      </a>
      {% navlist collections.all | eleventyNavigation, page, 1 %}
    </nav>
  </header>
</div>


<main>
{% block content %}

  <h1>
    <span class="big_text">{{ title }}</span>
    <br>
    <span class="subtitle"> {{subtitle}}</span> 
  </h1>
  <div class="content_container">
    <div class="page_content flow">
      {{ content | safe }} 
      {# postlist and pagelist are alias for the lists defined in frontmatter of the collection making up the page #}
      {% if pagelist %}
        {% include "partials/pagelist.njk" %}
      {% endif %}
      {% if typelist %}
        {% include "partials/typelist.njk" %}
      {% endif %}
    </div>
  </div>
{% endblock %}
</main>



{% include "partials/htmlfoot.njk" %}
