{% extends "page.njk" %}

{% block content %}


  <h1>
    <span class="big_text">entry</span>
    <br>
      <span class="headericon" data-icon="
        {# this adds the state-icon #}
        {% if evolution == 1 %} dotcircle
        {% elif evolution == 2 %} enso
        {% else %} spiral
        {% endif %}
        ">
      </span>
      {# this adds the title-link #}    
    <span class="subtitle"> {{title}}</span> 
  </h1>

      <div class="article_metrics">
        {% if date %}<p class="time"><time datetime="{{ date | dateymd }}">{{ date | datefriendly }}</time></p>{% endif %}
        {% if updateDate %}<p class="time">Updated on: <time datetime="{{ updateDate | dateymd }}">{{ updateDate | datefriendly }}</time></p>{% endif %}
        <p class="words">{{ content | wordcount | readtime }}</p>
        <p class="time">State:       
            {% if evolution == 1 %}
              More of an Idea
            {% elif evolution == 2 %}
              Advanced
            {% else %}
              Probably final
            {% endif %}
        </p>
      </div>
      <div class="tag_group"><span class="time">tags: </span>
        {% for tag in tags | filterTagList %}
          {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
          <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
        {% endfor %}
      </div>


  <div class="content_container">
    <div class="page_content">




      {{ content | safe }}

      <div class="post_nav">
        {% set nextPost = collections.post | getNextCollectionItem(page) %}
        {% if nextPost %}
          <div class="post_link_element" id="next_post">
            <a class="post_link" href="{{ nextPost.url }}"><img src="/images/structural/Previous.svg" alt="next post" width="40" height="40">{{ nextPost.data.title }}</a>
          </div>
        {% endif %} 
        <div class="post_link_element"> </div>
        {% set previousPost = collections.post | getPreviousCollectionItem(page) %}
        {% if previousPost %}
          <div class="post_link_element" id="previous_post"> 
            <a class="post_link" href="{{ previousPost.url }}">{{ previousPost.data.title }}<img src="/images/structural/Next.svg" alt="previous post" width="40" height="40"></a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}