{% extends "page.njk" %}

{% block content %}

  <p class="big_text">article</p>
  <h1 class="subtitle"> {{ title }} </h1>

        <div class="article_metrics">
        {% if date %}<p class="time"><time datetime="{{ date | dateymd }}">{{ date | datefriendly }}</time></p>{% endif %}
        <p class="words">{{ content | wordcount | readtime }}</p>
      </div>
  <div class="content_container">
    <div class="page_content">




      {{ content | safe }}

      <div class="post_nav">
        {% set nextPost = collections.post | getNextCollectionItem(page) %}
        {% if nextPost %}
          <div class="post_link" id="next_post">
            <a href="{{ nextPost.url }}"><img class="control_icon" src="/images/structural/Previous.svg" alt="next post" width="40" height="40"></a>
            {{ nextPost.data.title }}
          </div>
        {% endif %} 
        <div class="post_link"> </div>
        {% set previousPost = collections.post | getPreviousCollectionItem(page) %}
        {% if previousPost %}
          <div class="post_link" id="previous_post">
            {{ previousPost.data.title }}
            <a href="{{ previousPost.url }}"><img class="control_icon" src="/images/structural/Next.svg" alt="previous post" width="40" height="40"></a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}