{% extends "page.njk" %}

{% block content %}

  <h1>
    <span class="big_text">{{ title }}</span>
    <br>
    <span class="subtitle"> {{subtitle}}</span> 
  </h1>
  <div class="content_container">
    <div class="page_content">
      {{ content | safe }} 
      {% include "partials/divider.njk" %}
    {# shows the latest article - could probs be easier... #}
    {% set postslist = collections.post | head(-1) %}
    {%- for post in postslist -%}
        <article> {#cant use the shorthand, because of the "latest article..."#}

          <h2>
               <span class="headericon" data-icon="
              {# this adds the state-icon #}
                {% if post.data.evolution == 1 %}
                  dotcircle
                {% elif post.data.evolution == 2 %}
                  enso
                {% else %}
                  spiral
                {% endif %}
              ">
              </span>
              {# this adds the title-link #}    
              <a href="{{ post.url }}">Latest: {{ post.data.title }}</a></h2>
          <div class="tag_group">
          {% if post.data.date %}<p class="time"><time datetime="{{ post.data.date | dateymd }}">{{ post.data.date | datefriendly }}</time></p>{% endif %}
          {% if post.data.updateDate %}<p class="time">Updated on: <time datetime="{{ post.data.updateDate | dateymd }}">{{ post.data.updateDate | datefriendly }}</time></p>{% endif %}  
            <span class="time">|</span>
              <p class="time">State:       
                {% if post.data.evolution == 1 %}
                  More of an Idea
                {% elif post.data.evolution == 2 %}
                  Advanced
                {% else %}
                  Probably final
                {% endif %}
              </p>
            <span class="time">|</span>
            <span class="time">tags: </span>
            {% for tag in post.data.tags | filterTagList %}
              {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
              <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
            {% endfor %}
          </div>
          <p>{{ post.data.description }}</p>
          
          <div class="article_preview_nav">
            <a class="button b_small" href="{{ post.url }}">read entry</a>
          </div>


        </article>
    {%- endfor -%}


    {#{{ postslist[0].templateContent | safe }}#}
  

    </div>
  </div>



{% endblock %}