{% extends "page.njk" %}

{% block content %}

  <div class="hero_container">
    {% if decoration %}
      <span class="header_deco" aria-hidden="true">{{ decoration }}</span>
    {% endif %}
    <h1>
      <span class="start_hero">{{ title }}</span>
      {#<br>
      <span class="subtitle"> {{subtitle}}</span> #}
    </h1>
    
    {#The following is the text container#}
    <div class ="textWidthLimit">
      {{ content | safe }} 
    </div>
  </div>
  <div class="content_container">

    <div class="page_content flow">
      {#{% include "partials/divider.njk" %}#}    
      <div class="pagelist flow">
      <h2>Latest from log</h2>
      {# shows the latest article #}
      {% set postslist = collections.posts | head(-2) %}
        {%- for post in postslist -%}
            {% include "partials/front_postpreview.njk" %}
        {%- endfor -%}
      </div>
      <a href="/articles/">More log</a>

      
      <div class="pagelist flow">
      <h2>Latest from type</h2>
      {# shows the latest typespecimen #}
      {% set typelist = collections.typefaces | head(-2) %}
        {%- for post in typelist -%}
          {% include "partials/front_typepreview.njk" %}
        {%- endfor -%}
      </div>
      <a href="/articles_typetester/">More type</a>
      {#{{ postslist[0].templateContent | safe }}#}
  

    </div>
  </div>



{% endblock %}