<!-- this is its own page - a standalone type-tester-->

{% extends "page.njk" %}

{% block content %}

  <h1>
    <span class="big_text">{{ title }}</span>
    <br>
    <span class="subtitle"> {{subtitle}}</span> 
  </h1>
    <div class="type_container">
    <div class="type_content">
      
      <script type="text/javascript">
        window.onload = function() {
          document.getElementById("type-sample").focus();
        };
      </script>


      <!-- this is the typetester -->
      <div class="typetesterfield" id="type-sample" contenteditable="true">
        {#this shows the initial text in initTypeSpecimen#}
        {{ initTypeSpecimen }}
      </div>

      <!-- this is the content from the type-file - could describe the fonts a bit or something -->
      {{ content | safe }} 
    </div>
  </div>

{% endblock %}