{% extends "page.njk" %}

{% block content %}

  <h1>
    <span class="big_text">{{ title }}</span>
    <br>
    <span class="subtitle"> {{subtitle}}</span> 
  </h1>
    <div class="content_container">
    <div class="page_content">
      
      <!-- this is the typetester -->
      <div class="typetester" contenteditable="true">
        Testodroms
      </div>

      <!-- this is the content from the type-file - could describe the fonts a bit or something -->
      {{ content | safe }} 
    </div>
  </div>

{% endblock %}