<!-- this is its own page - a standalone type-tester-->

{% extends "page.njk" %}

{% block content %}

  <h1>
    <span class="big_text">{{ title }}</span>
    <br>
    <span class="subtitle"> {{subtitle}}</span> 
  </h1>
    <div class="type_container">
    <div class="type_content">
      
      <script type="text/javascript">
        window.onload = function() {
          document.getElementById("type-sample").focus();
        };
      </script>

      <style>
        @font-face {
          font-family: 'tt-{{ fontname }}';
          src: url('../{{ fontname }}.woff2') format('woff2'), {# used to have /fonts/article/#}
          url('../{{ fontname }}.woff') format('woff'); {# used to have /fonts/article/#}
        font-weight: normal;
        font-style: normal;
        }  
      </style>

      <div class="typetesterContainer">
      <!-- this is the typetester -->
        <div class="typetesterfield typeSize3" id="type-sample" contenteditable="true" style="font-family: 'tt-{{ fontname }}';">
          {#this shows the initial text in initTypeSpecimen#}
          {{ initTypeSpecimen }}
        </div>
      </div>

      <!-- fontsize selection -->
      <div class="fontsizeContainer">
        <label for="fontsizeSelector">Font size: </label> 
          <input type="range" class="rangeInput" id="fontsizeSelector" name="fontsizeSelector" list="markers" min="-1" max="6" value="3"/>
      </div>

      <!-- this is the content from the type-file - could describe the fonts a bit or something -->
      {{ content | safe }} 

      <!-- the navigation -->
      <div class="post_nav">
        {% set nextPost = collections.typefaces | getNextCollectionItem(page) %}
        {% if nextPost %}
          <div class="post_link_element" id="next_post">
            <a class="post_link" href="{{ nextPost.url }}"><img src="/images/structural/Previous.svg" alt="next post" width="40" height="40">{{ nextPost.data.title }}</a>
          </div>
        {% endif %} 
        <div class="post_link_element"> </div>
        {% set previousPost = collections.typefaces | getPreviousCollectionItem(page) %}
        {% if previousPost %}
          <div class="post_link_element" id="previous_post"> 
            <a class="post_link" href="{{ previousPost.url }}">{{ previousPost.data.title }}<img src="/images/structural/Next.svg" alt="previous post" width="40" height="40"></a>
          </div>
        {% endif %}
      </div>

    </div>
  </div>

{% endblock %}