---
permalink: /tags/
layout: page.njk
title: Tags
subtitle: Content, content, content - by topic
---
<p>Browse <a href="/articles">log by date of update</a> instead</p>
<p> The following list contains all tags used in all articles on the page. Click on a tag to see the list of corresponding posts </p>
<div class="tag_group">
<ul>
{% for tag in collections.tagList | filterTagList %}
  {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
  <li><a href="{{ tagUrl | url }}">{{ tag }}</a></li>
{% endfor %}
</ul>
</div>