{# this is the blog-preview as shown on the pagelist #}

  <article class="article_preview card_back">

    <div class="log_preview_image" aria-hidden="true">
      {% if post.data.previewImage %} 
        <img src={{post.data.urlbase}}{{ post.data.previewImage }} alt="">
      {% else %}
        <img src="/images/structural/Placeholder-Image.png" alt="">
      {% endif %}
    </div>
    <div class="preview_content">
    <h3>
      {#<span class="headericon" data-icon="
        {# this adds the state-icon #}
        {#{% if post.data.evolution == 1 %} dotcircle
        {% elif post.data.evolution == 2 %} enso
        {% else %} spiral
        {% endif %}
        ">
      </span>#}
      {# this adds the title-link #}    
    <a href="{{ post.url }}" class="breakout-link">{{ post.data.title }}</a></h3>

    <div class="tag_group">
      <p class ="time">
      {% if post.data.date %}<time datetime="{{ post.data.date | dateymd }}">{{ post.data.date | datefriendly }}</time>{% endif %}
      {% if post.data.updateDate %} and updated on: <time datetime="{{ post.data.updateDate | dateymd }}">{{ post.data.updateDate | datefriendly }}</time>{% endif %}

      {% if post.data.evolution == 1 %}
        – this is more of an Idea
      {% elif post.data.evolution == 2 %}
        – this is advanced
      {% else %}
        – this is probably final
      {% endif %}

      – tags: 
      {% set firstTag = true %}
      {% for tag in post.data.tags | filterTagList %}
        {% if firstTag %}         
          {# first does not have a leading comma #}
          {{tag}}
          {% set firstTag = false %}
        {% else %}         
          {# rest has a comma #}
          | {{tag}}
        {% endif %}
      {% endfor %}
      </span>
    </div>
    <p>{{ post.data.description }}</p>
    
    {# 
    <div class="article_preview_nav">
      <a class="button b_small" href="{{ post.url }}">read entry</a>
    </div>
    #}
    </div>


  </article>