<footer class="bot_nav">
    <a  href="/about/privacy">privacy info</a>
    <p class="footer_text">written content & images © Simon Hirsbrunner 2024</p>
    <button class="dmbtntoggler" title="darkmode-toggler">sun</button>
</footer>

</body>
   <script type="text/javascript" src="/assets/js/darkmode.js"></script>
</html>
