<footer class="bot_nav">
    <a  href="/privacy">privacy</a>
    <a  href="/accessibility">accessibility</a>
    <button class="dmbtntoggler" title="darkmode-toggler">sun</button>
</footer>

</body>
   <script type="text/javascript" src="/assets/js/darkmode.js"></script>
    {% include "partials/scriptchecker.njk" %}
</html>
