<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <!-- <link href="https://fonts.googleapis.com/css?family=Archivo+Black:400" rel="stylesheet"> -->
  <link rel="stylesheet" href="/assets/css/style.css" />
  <link rel="icon" 
      type="image/png" 
      href="/images/structural/favicon.png"> 
</head>
<body>
