{% if pagelist %}
<div class="pagelist">

  {%- for post in pagelist -%}
    {% include "partials/postpreview.njk" %}
  {%- endfor -%}

</div>
{% endif %}

{% if pagination.href.previous or pagination.href.next %}
<nav class="post_nav">
  
  {% if pagination.href.previous %}
    <div>
      {% if page.url != pagination.href.first %}
        <a href="{{ pagination.href.first }}"><img class="control_icon" src="/images/structural/First.svg" alt="first page" width="40" height="40"></a>
      {% endif %}
      <a href="{{ pagination.href.previous }}"><img class="control_icon" src="/images/structural/Previous.svg" alt="previous page" width="40" height="40"></a>
    </div>
  {% endif %}
  <div></div>
  {% if pagination.href.next %}
    <div>
      <a href="{{ pagination.href.next }}"><img class="control_icon" src="/images/structural/Next.svg" alt="next page" width="40" height="40"></a>
      {% if page.url != pagination.href.last %}
        <a href="{{ pagination.href.last }}"><img class="control_icon" src="/images/structural/Last.svg" alt="last page" width="40" height="40"></a>
      {% endif %}
    </div>
  {% endif %}

</nav>
{% endif %}