{# this is the blog-preview as shown on the pagelist #}

  <article class="article_preview">

    <div class="log_preview_image">
      {% if post.data.previewImage %} 
        <img src={{ post.data.previewImage }} alt="postpreview image">
      {% else %}
        <img src="/images/structural/Placeholder-Image.png" alt="postpreview image">
      {% endif %}
    </div>
    <div class="preview_content flow">
    <h2>
      <span class="headericon" data-icon="
        {# this adds the state-icon #}
        {% if post.data.evolution == 1 %} dotcircle
        {% elif post.data.evolution == 2 %} enso
        {% else %} spiral
        {% endif %}
        ">
      </span>
      {# this adds the title-link #}    
    <a href="{{ post.url }}" class="breakout-link">{{ post.data.title }}</a></h2>

    <div class="tag_group">
      {% if post.data.date %}<p class="time"><time datetime="{{ post.data.date | dateymd }}">{{ post.data.date | datefriendly }}</time></p>{% endif %}
      {% if post.data.updateDate %}<p class="time"> Updated on: <time datetime="{{ post.data.updateDate | dateymd }}">{{ post.data.updateDate | datefriendly }}</time></p>{% endif %}
      <span class="time">|</span>
      <p class="time">State:       
            {% if post.data.evolution == 1 %}
              More of an Idea
            {% elif post.data.evolution == 2 %}
              Advanced
            {% else %}
              Probably final
            {% endif %}
        </p>
        <span class="time">|</span>

      <span class="time">tags: 
      {% for tag in post.data.tags | filterTagList %}
        {{tag }}
      {% endfor %}
      </span>
    </div>
    <p>{{ post.data.description }}</p>
    
    {# 
    <div class="article_preview_nav">
      <a class="button b_small" href="{{ post.url }}">read entry</a>
    </div>
    #}
    </div>


  </article>