<!-- inline textsample for articles for fonts that work in all directions like monocube-->

<style>
@font-face {
  font-family: 'sampleFont';
  src: url('{{urlbase}}{{fontname}}.woff2') format('woff2'),
       url('{{urlbase}}{{fontname}}.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.everbreak { 
	line-break: anywhere;
	word-break: break-all;
	white-space: break-spaces;
  font-variant-ligatures: normal;
}
</style>

"Normal" orientation

<div class="text_sample">
<p class="typeSize0 everbreak" style="font-family:'sampleFont'; line-height: 87%; margin: 0.5rem">{{sampletext}} </p>
<p class="typeSize1 everbreak" style="font-family:'sampleFont'; line-height: 87%; margin: 0.5rem">{{sampletext}} </p>
<p class="typeSize2 everbreak" style="font-family:'sampleFont'; line-height: 87%; margin: 0.5rem">{{sampletext}} </p>
</div>
<div class="text_sample_inverted">
<p class="typeSize0 everbreak" style="font-family:'sampleFont'; line-height: 87%; margin: 0.5rem">{{sampletext}} </p>
<p class="typeSize1 everbreak" style="font-family:'sampleFont'; line-height: 87%; margin: 0.5rem">{{sampletext}} </p>
<p class="typeSize2 everbreak" style="font-family:'sampleFont'; line-height: 87%; margin: 0.5rem">{{sampletext}} </p>
</div>

Vertical upright orientation

<div class="text_sample" style= "">
  <div class="turner" style="display:flex; flex-direction:row; justify-content:center; flex-wrap:wrap;">
      <p class="typeSize2 everbreak" style="inline-size: 60vh; writing-mode:vertical-lr; font-family:'sampleFont'; margin: 0.5rem; line-height: 87%; text-orientation: upright;">{{sampletext}} </p>
  </div>
</div>