<!-- inline textsample for articles -->

<style>
@font-face {
  font-family: 'sampleFont';
  src: url('{{urlbase}}{{fontname}}.woff2') format('woff2'),
       url('{{urlbase}}{{fontname}}.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
</style>

<div class="text_sample">
<p class="type_normal" style="font-family:'sampleFont'; margin: 0.5rem"> {{sampletext}} </p>
<p class="type_medium" style="font-family:'sampleFont'; margin: 0.5rem"> {{sampletext}} </p>
<p class="type_big" style="font-family:'sampleFont'; margin: 0.5rem"> {{sampletext}} </p>
</div>
<div class="text_sample_inverted">
<p class="type_normal" style="font-family:'sampleFont'; margin: 0.5rem"> {{sampletext}} </p>
<p class="type_medium" style="font-family:'sampleFont'; margin: 0.5rem"> {{sampletext}} </p>
<p class="type_big" style="font-family:'sampleFont'; margin: 0.5rem"> {{sampletext}} </p>
</div>