<!-- inline textsample for articles -->

<style>
@font-face {
  font-family: 'sampleFont';
  src: url('/articles/20210309_Type_primera/PrimeraNueva-Regular_post.woff2') format('woff2'),
       url('/articles/20210309_Type_primera/PrimeraNueva-Regular_post.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
</style>

<div class="text_sample">
<p style="font-family:'sampleFont';font-size:1em; margin: 0.5em"> <mark>1.0em:</mark> {{ post.data.sampletext }} </p>
<p style="font-family:'sampleFont';font-size:1.1em; margin: 0.5em"> <mark>1.1em:</mark> {{post.data.sampletext}} </p>
<p style="font-family:'sampleFont';font-size:1.3em; margin: 0.5em"> <mark>1.3em:</mark> {{post.data.sampletext}} </p>
<p style="font-family:'sampleFont';font-size:1.6em; margin: 0.5em"> <mark>1.6em:</mark> {{post.data.sampletext}} </p>
</div>
<div class="text_sample_inverted">
<p style="font-family:'sampleFont';font-size:1em; margin: 0.5em"> <mark>1.0em:</mark> {{post.data.sampletext}} </p>
<p style="font-family:'sampleFont';font-size:1.1em; margin: 0.5em"> <mark>1.1em:</mark> {{post.data.sampletext}} </p>
<p style="font-family:'sampleFont';font-size:1.3em; margin: 0.5em"> <mark>1.3em:</mark> {{post.data.sampletext}} </p>
<p style="font-family:'sampleFont';font-size:1.6em; margin: 0.5em"> <mark>1.6em:</mark> {{post.data.sampletext}} </p>
</div>