{# this is the type-specimen-preview as shown on the typelist #}

    <style>
        @font-face {
          font-family: 'tt-{{ post.data.fontname }}';
          src: url('/fonts/article/{{ post.data.fontname }}.woff2') format('woff2'),
          url('/fonts/article/{{ post.data.fontname }}.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        }  
      </style>

  <article>


    <h2><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
    <div class="textpreviewsample" style="font-family: 'tt-{{ post.data.fontname }}';">{{ post.data.initTypeSpecimen }}</div>
    <p>{{ post.data.description }}</p>
    <div class="article_preview_nav">
      <a class="button b_small" href="{{ post.url }}">show details</a>
    </div>


  </article>