{# this is the type-specimen-preview as shown on the typelist #}

    <style>
        @font-face {
          font-family: 'tt-{{ post.data.fontname }}';
          {#URL should be /articles/article-Folder-that's-different-for-every-article/ and then the post.data.fontname#}
          src: url('{{post.url}}{{ post.data.fontname }}.woff2') format('woff2'), {#used to have /fonts/article/#}
          url('{{ post.data.fontname }}.woff') format('woff'); {#used to have /fonts/article/#}
        font-weight: normal;
        font-style: normal;
        }  
      </style>

  <article>

    
    <h2 class="textpreviewsample" style="font-family: 'tt-{{ post.data.fontname }}';"><a href="{{ post.url }}">{{ post.data.initTypeSpecimen }}</a></h2>
    <p>{{ post.data.description }}</p>
    <div class="article_preview_nav">
      <a class="button b_small" href="{{ post.url }}">more about {{ post.data.title }}</a>
    </div>


  </article>